<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
     <script src="js/gis.js"></script>
     
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar bar-header bar-balanced">
        <h1 class="title" align="center">System Pumping Record</h1>
      </ion-header-bar>
      <ion-content>
        
      <form id="septic-inspection-form">
      SYSTEM PUMPING RECORD
      
      	<h2 class ="title">Facility Information</h2>
      	<h4 class="title">System Location</h4>
        <div class="list list-inset">
          <label class="item item-input">
            <span class="input-label">Address</span>
	    	    <input type="text" name="systemLocation" ng-model="septic.systemLocation">
          </label>
          <label class="item item-input">
            <span class="input-label">City/Town</span>
	    	    <input type="text" name="systemCity" ng-model="septic.systemCity">
          </label>
          <label class="item item-input item-select">
          	<div class="input-label">
          	  State
          	</div>
          	<select name="systemState" ng-model="septic.systemState">
          	  <option>Alabama</option>
          	  <option>Alaska</option>
          	  <option>Arizona</option>
          	  <option>Arkansas</option>
          	  <option>California</option>
          	  <option>Colorado</option>
          	  <option>Connecticut</option>
          	  <option>Delaware</option>
          	  <option>Florida</option>
          	  <option>Georgia</option>
          	  <option>Hawaii</option>
          	  <option>Idaho</option>
          	  <option>Illinois</option>
          	  <option>Indiana</option>
          	  <option>Iowa</option>
          	  <option>Kansas</option>
          	  <option>Kentucky</option>
          	  <option>Louisiana</option>
          	  <option>Maine</option>
          	  <option>Maryland</option>
          	  <option selected>Massachusetts</option>
          	  <option>Michigan</option>
          	  <option>Minnesota</option>
          	  <option>Mississippi</option>
          	  <option>Missouri</option>
          	  <option>Montana</option>
          	  <option>Nebraska</option>
          	  <option>Nevada</option>
          	  <option>New Hampshire</option>
          	  <option>New Jersey</option>
          	  <option>New Mexico</option>
          	  <option>New York</option>
          	  <option>North Carolina</option>
          	  <option>North Dakota</option>
          	  <option>Ohio</option>
          	  <option>Oklahoma</option>
          	  <option>Oregon</option>
          	  <option>Pennsylvania</option>
          	  <option>Rhode Island</option>
          	  <option>South Carolina</option>
          	  <option>South Dakota</option>
          	  <option>Tennesse</option>
          	  <option>Texas</option>
          	  <option>Utah</option>
          	  <option>Vermont</option>
          	  <option>Virginia</option>
          	  <option>Washington</option>
          	  <option>West Virginia</option>
          	  <option>Wisconsin</option>
          	  <option>Wyoming</option>
          	</select>
          </label>
          <label class="item item-input">
            <span class="input-label">Zip Code</span>
	    	    <input type="text" name="systemZip" ng-model="septic.systemZip">
          </label>
		    </div>
		    <h4 class="title">System Owner</h4>
        <div class="list list-inset">
          <label class="item item-input">
            <span class="input-label">Name</span>
	    	    <input type="text" name"ownerName" ng-model="septic.ownerName">
          </label>
          
  <div  ng-app = "gis" ng-controller = "GeoCtrl" ng-click = "geoLocation">
      <button id = "gis_button" ng-click ="getLocation()">Get GeoLocation</button>
       </div>
          
          <label class="item item-input">
            <span class="input-label">Address</span>
	    	    <input type="text" name="ownerAddress" ng-model="septic.ownerAddress">
          </label>
          <label class="item item-input">
            <span class="input-label">City/Town</span>
	    	    <input type="text" name="ownerCity" ng-model="septic.ownerCity">
          </label>
          <label class="item item-input item-select">
          	<div class="input-label">
          	  State
          	</div>
          	<select name="ownerState" ng-model="septic.ownerState">
          	  <option>Alabama</option>
          	  <option>Alaska</option>
          	  <option>Arizona</option>
          	  <option>Arkansas</option>
          	  <option>California</option>
          	  <option>Colorado</option>
          	  <option>Connecticut</option>
          	  <option>Delaware</option>
          	  <option>Florida</option>
          	  <option>Georgia</option>
          	  <option>Hawaii</option>
          	  <option>Idaho</option>
          	  <option>Illinois</option>
          	  <option>Indiana</option>
          	  <option>Iowa</option>
          	  <option>Kansas</option>
          	  <option>Kentucky</option>
          	  <option>Louisiana</option>
          	  <option>Maine</option>
          	  <option>Maryland</option>
          	  <option selected>Massachusetts</option>
          	  <option>Michigan</option>
          	  <option>Minnesota</option>
          	  <option>Mississippi</option>
          	  <option>Missouri</option>
          	  <option>Montana</option>
          	  <option>Nebraska</option>
          	  <option>Nevada</option>
          	  <option>New Hampshire</option>
          	  <option>New Jersey</option>
          	  <option>New Mexico</option>
          	  <option>New York</option>
          	  <option>North Carolina</option>
          	  <option>North Dakota</option>
          	  <option>Ohio</option>
          	  <option>Oklahoma</option>
          	  <option>Oregon</option>
          	  <option>Pennsylvania</option>
          	  <option>Rhode Island</option>
          	  <option>South Carolina</option>
          	  <option>South Dakota</option>
          	  <option>Tennesse</option>
          	  <option>Texas</option>
          	  <option>Utah</option>
          	  <option>Vermont</option>
          	  <option>Virginia</option>
          	  <option>Washington</option>
          	  <option>West Virginia</option>
          	  <option>Wisconsin</option>
          	  <option>Wyoming</option>
          	</select>
          </label>
          <label class="item item-input">
            <span class="input-label">Zip Code</span>
	    	    <input type="text" name="ownerZip" ng-model="septic.ownerZip">
          </label>
          <label class="item item-input">
            <span class="input-label">Telephone Number</span>
	    	    <input type="tel" name="ownerTel" ng-model="septic.ownerTel">
          </label>
		    </div>

		    <h2 class ="title">Facility Information</h2>
		    <div class="list list-inset">
          <label class="item item-input">
            <span class="input-label">Date of Pumping</span>
	    	    <input type="date" name="dateOfPumping" ng-model="septic.dateOfPumping">
          </label>
          <label class="item item-input">
            <span class="input-label">Quantity Pumped (gallons)</span>
	    	    <input type="text" name="quantityPumped" ng-model="septic.quantityPumped">
          </label>
		    </div>
		    <h4 class="title">Component</h4>
		    <ul class="list list-inset">
          <li class="item item-checkbox">
          	<label class="checkbox">
          	  <input type="checkbox" name="componentsCesspool" ng-model="septic.componentsCesspool">
          	</label>
          	Cesspool(s)
          </li>
          <li class="item item-checkbox">
          	<label class="checkbox">
          	  <input type="checkbox" name="componentsSeptic" ng-model="septic.componentsSeptic">
          	</label>
          	Septic Tank
          </li>
          <li class="item item-checkbox">
          	<label class="checkbox">
          	  <input type="checkbox" name="componentsTight" ng-model="septic.componentsTight">
          	</label>
          	Tight Tank
          </li>
          <li class="item item-checkbox">
          	<label class="checkbox">
          	  <input type="checkbox" name="componentsGrease" ng-model="septic.componentsGrease">
          	</label>
          	Grease Trap
          </li>
          <li class="item item-checkbox">
          	<label class="checkbox">
          	  <input type="checkbox" name="componentsOther" ng-model="septic.componentsOther">
          	</label>
          	Other
          </li>
		    </ul>
		    <div class="list list-inset">
          <label class="item item-input">
            <span class="input-label">If other, please describe</span>
	    	    <input type="text" name="otherDescription" ng-model="septic.otherDescription">
          </label>
		    </div>
		    <h4 class="title">Effluent Tee Filter present?</h4>
        <ion-list>
          <ion-radio ng-click="yesFilter()" ng-model="septic.teeFilterPresent" name="filter" ng-value = "Yes">Yes</ion-radio>
          <ion-radio ng-click="noFilter()" ng-model="septic.teeFilterPresent" name="filter" ng-value="No">No</ion-radio>  
		    <h4 class="title" ng-show="filterPresent">If yes, was it cleaned?</h4>
          <ion-radio ng-model="septic.cleaned" ng-value="Yes" ng-show="filterPresent" name="cleaned">Yes</ion-radio>
          <ion-radio ng-model="septic.cleaned" ng-value="No" ng-show="filterPresent" name="cleaned">No</ion-radio>
        </ion-list>
	    	<div class="list list-inset">
          <label class="item item-input">
            <span class="input-label">Observed condition of component pumped</span>
	    	    <input type="text" name="condition" ng-model="septic.condition">
          </label>
	    	</div>
		    <h4 class="title">System Pumped By</h4>
		    <div class="list list-inset">
          <label class="item item-input">
            <span class="input-label">Name</span>
	        	<input type="text" name="pumperName" ng-model="septic.pumperName">
          </label>
          <label class="item item-input">
            <span class="input-label">Company</span>
	        	<input type="text" name="pumperCompany" ng-model="septic.pumperCompany">
          </label>
          <label class="item item-input">
            <span class="input-label">Vehicle License Number</span>
	    	    <input type="text" name="pumperLicense" ng-model="septic.pumperLicense">
          </label>
	    	</div>
	    	<h4 class="title">Location where contents were disposed</h4>
	    	<div class="list list-inset">
          <label class="item item-input">
            <span class="input-label">Location</span>
	    	    <input type="text" name="disposalLocation" ng-model="septic.disposalLocation">
          </label>
          <label class="item item-input">
            <span class="input-label">Signature of Hauler</span>
	        	<input type="text" name="haulerSignature" ng-model="septic.haulerSignature">
          </label>
          <label class="item item-input">
            <span class="input-label">Date</span>
	        	<input type="date" name="haulerDate" ng-model="septic.haulerDate">
          </label>
          <label class="item item-input">
            <span class="input-label">Signature of Receiving Facility</span>
	    	    <input type="text" name="receivingSignature" ng-model="septic.receivingSignature">
          </label>
          <label class="item item-input">
            <span class="input-label">Date</span>
	        	<input type="date" name="receivingDate" ng-model="septic.receivingDate">
          </label>
	    	</div>
		 
		  <button class="button button-balanced button-block" type="submit" ng-click="SubmitSepticForm(septic)">Submit</button>
       </form>
      <a href="#/page3" class="button button-stable button-block"> Go Home</a>
      </ion-content>
    </ion-pane>
  </body>
</html>
